<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="revenueConnectionString1" connectionString="Data Source=RISHABH-PC\SQLEXPRESS;Initial Catalog=revenue;User ID=trybase;Password=123456;Min Pool Size=50;Max Pool Size=60;Connect Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.mshtml, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages clientIDMode="Static" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Welcome.aspx" />
                <add value="Search2.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>